body {
    background-color: #302e2b;
}

#root {
    width: fit-content;
    margin: auto;
}

.squareRow {
    display: flex;
}

.square {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    background-color: #E8EDF9;
}

.black {
    background-color: #B7C0D8;
}

.hightlightYellow {
    background: #9d8bf6;
}

.piece {
    width: 100%;
    cursor: pointer;
}

.captureColor {
    background-color: #7B61FF;
}

.hightlight {
    width: 35%;
    display: block;
    height: 35%;
    margin: auto;
    border-radius: 50%;
    background-color: #7B61FF;
    margin-top: 25px;
}
