body {
    background-color: #302e2b;
    justify-content: center;
    gap: 2vw;
}

#root {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.squareRow {
    display: flex;
}

.square {
    width: 75px;
    height: 75px;
    position: relative;
}

.white {
    background-color: #E8EDF9;
}

.black {
    background-color: #B7C0D8;
}

.hightlightYellow {
    background: #9d8bf6;
}

.piece {
    width: 100%;
    cursor: pointer;
}

.captureColor {
    background-color: #7B61FF;
}

.hightlight {
    width: 45%;
    display: block;
    height: 45%;
    margin: auto;
    border-radius: 50%;
    background-color: #7B61FF;
    margin-top: 20px;
}

.labelId {
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 14px;
    left: 2px;
}

.white-label-id {
    color: #B7C0D8;
}

.black-label-id {
    color: #E8EDF9;
}

.d-flex {
    display: flex;
}

#move_logger {
    width: 20vw;
    height: 600px;
    background-color: #262522;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 10px;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#move_logger ol {
    padding-left: 20px;
}

#move_logger li {
    margin-bottom: 5px;
    list-style-type: decimal;
}
